<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="container" th:fragment="menu">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="fisher" href="/fisher">Fisher / SFS</a>
            <a class="nav-item nav-link" id="classifiers" href="/classifiers">Classifiers</a>
            <a class="nav-item nav-link" id="bootstrap" href="/bootstrap">Bootstrap / Cross-validation</a>
        </div>
    </nav>
</div>
</body>
</html>